{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "ecmaFeatures": {
        "modules": false
    },
    "rules": {
        "indent": [
            "warn",
            4
        ],
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "quotes": [
            "warn",
            "double"
        ],
        "semi": [
            "warn",
            "always"
        ],
        "strict": [
            "error"
        ],
        "require-yield": [
            0
        ]
    },
    "globals": {
        // ignore these nightwatch globals
        "describe": false,
        "before": false,
        "beforeEach": false,
        "it": false,
        "console": false,
        "Console": false
    }
}